<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a54c4fa0-a1ce-43a1-8cc0-fe06985e6460/resourceGroups/WEB524/providers/Microsoft.Web/sites/syousef-zadeh-wa-web524-a6</ResourceId>
    <ResourceGroup>WEB524</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://syousef-zadeh-wa-web524-a6.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>syousef-zadeh-wa-web524-a6.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>syousef-zadeh-wa-web524-a6</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$syousef-zadeh-wa-web524-a6</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBCustomStore;Initial Catalog=DB_Web_App_Project_Template_V3;Integrated Security=True;Persist Security Info=False;User ID=syousef-zadeh;Password=Sheida@1375;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:syousef-zadeh-ds-web524.database.windows.net,1433;Initial Catalog=syousef-zadeh-db-web5240-a6;Persist Security Info=False;User ID=syousef-zadeh;Password=Sheida@1375;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\DBCustomStore&quot;;Initial Catalog=&quot;DB_Web_App_Project_Template_V3&quot;;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Assignment_6.Models.ApplicationDbContext, Web App Project Template V3" MigrationConfiguration="Assignment_6.Migrations.Configuration, Web App Project Template V3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:syousef-zadeh-ds-web524.database.windows.net,1433;Initial Catalog=syousef-zadeh-db-web5240-a6;Persist Security Info=False;User ID=syousef-zadeh;Password=Sheida@1375;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename="|DataDirectory|\DBCustomStore";Initial Catalog="DB_Web_App_Project_Template_V3";Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>